## This notebook describes SVM on RealEstate Sale Prices

In [1]:
dataset<-read.csv(file = "data.csv",sep = ",",header = TRUE)

In [2]:
head(dataset)

  X BOROUGH NEIGHBORHOOD  BUILDING.CLASS.CATEGORY
1 4 1       ALPHABET CITY 07 RENTALS - WALKUP APARTMENTS
2 5 1       ALPHABET CITY 07 RENTALS - WALKUP APARTMENTS
3 6 1       ALPHABET CITY 07 RENTALS - WALKUP APARTMENTS
4 7 1       ALPHABET CITY 07 RENTALS - WALKUP APARTMENTS
5 8 1       ALPHABET CITY 07 RENTALS - WALKUP APARTMENTS
6 9 1       ALPHABET CITY 07 RENTALS - WALKUP APARTMENTS
  TAX.CLASS.AT.PRESENT BLOCK LOT BUILDING.CLASS.AT.PRESENT
1 2A                   392    6  C2
2 2                    399   26  C7
3 2                    399   39  C7
4 2B                   402   21  C4
5 2A                   404   55  C2
6 2                    405   16  C4
  ADDRESS                ZIP.CODE RESIDENTIAL.UNITS COMMERCIAL.UNITS
1 153 AVENUE B           10009     5                0
2 234 EAST 4TH   STREET  10009    28                3
3 197 EAST 3RD   STREET  10009    16                1
4 154 EAST 7TH STREET    10009    10                0
5 301 EAST 10TH   STREET 10009     6                0
6 516 EAST 12TH   STREET 10009    20                0
  TOTAL.UNITS LAND.SQUARE.FEET GROSS.SQUARE.FEET YEAR.BUILT
1  5          1633             6440              1900
2 31          4616             18690             1900
3 17          2212             7803              1900
4 10          2272             6794              1913
5  6          2369             4615              1900
6 20          2581             9730              1900
  TAX.CLASS.AT.TIME.OF.SALE BUILDING.CLASS.AT.TIME.OF.SALE SALE.PRICE
1 2                         C2                             6625000
2 2                         C7                              -
3 2                         C7                              -
4 2                         C4                             3936272
5 2                         C2                             8000000
6 2                         C4                              -
  SALE.DATE
1 19-07-2017 00:00
2 14-12-2016 00:00
3 09-12-2016 00:00
4 23-09-2016 00:00
5 17-11-2016 00:00
6 20-07-2017 00:00

### Handelling the missing Values

In this data set we have a conflict instead of NA or empty spaces we have "-"(hiphen) as missing value so the following lines replace the Hiphen with NA in all the positions where hiphen exists.

In [3]:
dataset$LAND.SQUARE.FEET<-gsub("-",NA,dataset$LAND.SQUARE.FEET)
dataset$GROSS.SQUARE.FEET<-gsub("-",NA,dataset$GROSS.SQUARE.FEET)
dataset$SALE.PRICE<-gsub("-",NA,dataset$LAND.SQUARE.FEET)

In [4]:
mean(is.na(dataset))
dim(dataset)#it gives the dimensional spread of the data 
            #where first one is the rows and second is columns

[1] 0.047379

[1] 84548    20

we can observe that there are very little number of values which are missing as a thumb rule if the NA's are less than 5% we can eliminate the NA's in the next step we do that

In [5]:
final <- na.omit(dataset)# It omits entire row even any one column contains NA value in the whole row
dim(final)# finding dimensions after omitting the NA values

[1] 56930    20

we can see that all the columns which make 0.04% of data are eliminated by the reduced row count
It makes no difference for analysis in loosing that data as per this huge dataset we still have, which does not have any missing values which is most important in pre-processing.
## with this we can say in Pre-Processing a dataset we have successfully concluded

library(dplyr)
final <- final %>% separate(col = "BUILDING.CLASS.CATEGORY", into = c("BUILDING CLASS CATEGORY NUMBER",
                                                     "BUILDING CLASS CATEGORY"), sep = 3) %>% separate(col = "SALE.DATE", into = c("SALE DATE", "TIME"), sep = " ")

duuu<-data.frame(installed.packages())
length((duuu$Priority))-sum(is.na(duuu$Priority))